<div class="author">
<h1 class="author-heading">Hillary Gilbert</h1>
<p class="author-body"> A Full Stack Developer and Content Creator. </p>
</div>

<img src="/img/blogimg.jpg" alt="person reflecting on his thoughts" class="hero-image" width="981" height="528">

<section class="articles">
  <h2 class="articles-heading">Latest Posts</h2>

<ul class="article-ul">
  <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list-date"><%= post.createdAt.toDateString() %></span>
      </a>
    </li>
  <% }) %>
</ul>

<% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
<% } %>






</section>